[Desktop Entry]
Type=Application
Name=simplechroot
GenericName=chroot
Comment=Setup a chroot simply
Exec=AppRun
Icon=simplechroot
StartupNotify=true
Terminal=true
Categories=Utility;
Name[en_US]=simplechroot
StartupWMClass=simplechroot